{% if all_count > 100 %}
Количество активных пользователей: {{ active_count }} <br>
Количество уникальных пользователей: {{ all_count }} <br>
<br>
{% endif %}
Автор бота: Semyon Putnikov <br>
LinkedIn: www.linkedin.com/in/semyon-putnikov <br>
Заказать себе бота: @semaputnik