Спасибо! Вы забронировали
{% if amount == 1 %}
билет
{% elif amount < 5 and amount > 1 %}
{{ amount }} билета
{% else %}
{{ amount }} билетов
{% endif %}
 на "{{ event.event_name}}".
<br><br>
📩 После успешной оплаты: <br>
— если оплата произведена на сайте, билет придёт на указанную вами почту; <br>
— если оплата через бота @potalonubot, появится QR-код прямо в чате.
<br><br>
🔹 Если мероприятие бесплатное, ваша бронь будет отображаться в боте @kvartirnikbcn_bot в разделе «Мои билеты».
<br><br>
{% if text %}
{{ text }}
<br><br>
{% endif %}
