{% if wrong_file_error %}
Некорректный формат файла. Пожалуйста, прикрепите скриншот как изображение, а не как файл.
{% else %}
Место зарезервировано на следующие 10 минут.
<br> <br>
ВАЖНО. <br>
Чтобы бот автоматически забронировал место, сделайте, пожалуйста, скриншот чека о переводе доната и пришлите его боту в ответ на это сообщение (как изображение). Иначе место не забронируется.
{% endif %}
<br><br>
Донат от: {{ tickets_amount * event.price }} евро
<br><br>
{{ payment_info }}