Спасибо! Вы забронировали
{% if amount == 1 %}
билет
{% elif amount < 5 and amount > 1 %}
{{ amount }} билета
{% else %}
{{ amount }} билетов
{% endif %}
 на "{{ event.event_name}}".
<br><br>
📩 После успешной оплаты билет придёт вам на почту.
<br><br>
❗ Если билет не придёт или возникнут проблемы с оплатой, напишите @AnnaNovozhenina.
<br><br>
{% if text %}
{{ text }}
<br><br>
{% endif %}
