Спасибо! Вы забронировали
{% if amount == 1 %}
билет
{% elif amount < 5 and amount > 1 %}
{{ amount }} билета
{% else %}
{{ amount }} билетов
{% endif %}
 на "{{ event.event_name}}".
Билет добавлен и отображается в боте в списке ваших предстоящих мероприятий.
<br><br>

{% if text %}
{{ text }}
<br><br>
{% endif %}

За день до мероприятия мы пришлем вам напоминание в личные сообщения.
<br><br>
Eсли у вас есть вопросы, или вы в чем то неуверены напишите в поддержку: @aa_lections