Привет! Я автоматический бот и не умею отвечать на вопросы.
Если хотите чтобы ответил не бот, а человек, напишите в поддержку.
<br> <br>
Чем я могу помочь?
{% if error_text %}
<br><br>
{{ error_text }}
{% endif %}