Stand-up Ирина Приходько. Новый концерт из тура «Вавилонская башня» в Квартирнике 
<br><br>
Комикесса из Беларуси. Участница шоу «Открытый микрофон», «Стендап на ТНТ», «Прожарка», а также YouTube-шоу «Roast Battle». Её новый концерт — не просто рассказы о социальных явлениях и интимных отношениях. Это настоящий коктейль крутого юмора. Она затронет всё: отношения с противоположным полом, «женские» проблемы и даже мировые события.
<br><br>
Ирина пишет свои шутки сама, вдохновляясь обычной жизни, что делает близкими каждому. Если вы смотрели «Stand Up на ТНТ» или «Прожарку», вы знаете, как реально смешно с Ириной.
<br><br>
Дата и время: 17-02-2024 18:00
<br><br>
Продолжительность: 2 часа
<br><br>
Локация: C. de Villarroel, 79, 08011 Barcelona
<br><br>
Доступные места: 50
<br><br>
Донат за билет от: 30 евро <br>
Напитки и закуски включены.