ШОУ “КУЛЬТУРНАЯ РАЗНИЦА” <br>
Руслана Белого и Ирины Приходько <br><br>
🔥 23 марта мы с вами будем участниками съёмки ДВУХ новых выпусков разговорного шоу от наших любимчиков. На каждом из выпусков мы вместе порассуждаем на тему «культурной разницы» между страной, в которой мы родились, и той, в которой теперь живём.
<br><br>
Это шоу-импровизация, а значит, каждый из выпусков полон сюрпризов! 23го марта вы сможете не просто первыми узнать, что будет в новых выпусках, но и поучаствовать в их создании!
<br><br>
Бронирование будет проходить в 2 этапа! Сегодня мы принимаем бронь на съемку выпуска в 17:30. Бронируйте билет и готовьтесь к крутейшему шоу! Всех ждём и будем рады видеть.
<br><br>
Как только мы подтвердим окончательно съёмку в 14:30, откроем бронь, а пока что поспешите обеспечить себе классный вечер субботы, 23го марта, в 17:30 вместе с нами, Русланом, и Ириной!
<br><br>
Когда? — 23.03, сб, в 17:30 <br>
Где? — Plaça de la Concòrdia, 13, Les Corts, <br>
Цена — 30€ за один выпуск
<br><br>
✏️ Количество мест ограничено.