Спящая красавица — детский интерактивный спектакль.
<br><br>
Сразу, как только дети переступят порог Квартирника, окажутся вовлечены в сюжет «Спящей Красавицы». У каждого ребёнка будет своя роль: Принцессы, Принца, Короля, Королевы или Маленького Скорохода. 
<br><br>
И вместе с нашей Феей Наташей все герои соберутся за длинным столом  и начнут рассказывать и разыгрывать сказку. Каждый здесь влияет на детали и помогает развитию истории. 
<br><br>
Ваши дети научаться пользоваться волшебными палочками, узнают, что такое веретено, попробуют посчитать до ста по-испански, и, конечно же, в финале разбудят спящую принцессу и споют в её честь песню, которую специально для нас написал Придворный поэт. А в конце у нас будет небольшой пир в честь счастливого окончания сказки.
<br><br>
когда? — 23.03 в 16:00 <br>
донат? — от 15€